<p class="links">
  {% if site.twitter_username %}<a href="http://twitter.com/{{ site.twitter_username }}" target="_new"><img src="/img/theme/tw.png"></a>{% endif %}
  {% if site.linkedin_link %}<a href="{{ site.linkedin_link }}" target="_new"><i class="fa fa-linkedin"></i></a>{% endif %}
  {% if site.google_plus_link %}<a href="{{ site.google_plus_link }}" target="_new"><img src="/img/theme/gp.png"></a>{% endif %}
  {% if site.github_username %}<a href="https://github.com/{{ site.github_username }}" target="_new"><img src="/img/theme/gh.png"></a>{% endif %}
  {% if site.stackoverflow_link %}<a href="{{ site.stackoverflow_link }}" target="_new"><img src="/img/theme/so.png"></a>{% endif %}
  <a href="{{ site.baseurl }}/feed.xml" target="_new"><img src="/img/theme/rss.png"></a>
</p>