---
layout: compress
---

lang1="{{ site.locale }}" lang4="{{ page.lang }}"

{% if page.lang %}
	{% else %}
	{% assign page.lang = 'en-US' %}
{% endif %}

lang2="{{ site.locale }}" lang4="{{ page.lang }}"

{% assign site.locale = page.lang %}

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale }}" lang4="{{ page.lang }}"  class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}
    {% include footer/custom.html %}

  </body>
</html>
